* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(270deg, #0f0f0f, #1f1f1f, #0f0f0f);
  background-size: 400% 400%;
  animation: bgMove 10s ease infinite;

  color: white;
  opacity: 1;
  transition: opacity 0.3s ease;
}

@keyframes bgMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body.fade-in { opacity: 1; }
body.fade-out { opacity: 0; }