* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(270deg, #0f0f0f, #1f1f1f, #0f0f0f);
  background-size: 400% 400%;
  animation: bgMove 10s ease infinite;

  color: white;
  opacity: 1;
  transition: opacity 0.3s ease;
}

@keyframes bgMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body.fade-in { opacity: 1; }
body.fade-out { opacity: 0; }

nav {
  display: flex;
  justify-content: space-between;
  padding: 18px 40px;
  background: rgba(0,0,0,0.8);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

nav h2 {
  color: #e50914;
}

nav a {
  color: #ccc;
  margin-left: 20px;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: white;
}